<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Nova Vaga</title>
</head>
<body>
    <h1>Nova Vaga</h1>
    <form action="/vagas/nova" method="POST">
        <label for="posicao">Posição:</label><br>
        <input type="text" id="posicao" name="posicao"><br>
        <label for="ocupada">Ocupada:</label><br>
        <input type="checkbox" id="ocupada" name="ocupada"><br>
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome"><br>
        <label for="ondeesta">Onde Está:</label><br>
        <input type="text" id="ondeesta" name="ondeesta"><br><br>
        <button type="submit">Adicionar</button>
    </form>
</body>
</html>
